<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
</head>
<body>
    <ul>
        <% list.forEach((item) => { %>
            <li>
                <%= item.title %>
            </li>
        <% }) %>
    </ul>
    <a href="/">Create Game</a>
</body>
</html>
