<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <ul>
        <% list.forEach((item) => { %>
            <a href="/categories<%= item.href %>">
                <%= item.category_name %>
            </a>
        <% }) %>
    </ul>
    <a href="/">Create Game</a>
</body>
</html>
