<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    
        <% list.forEach((item) => { %>
            <div class="category_link">
                <a href="/categories<%= item.href %>">
                    <%= item.category_name %>
                </a>
            </div>
        <% }) %>
    
    <a href="/create">Create Game</a>
</body>
</html>
